h:Z8Cn_U54w318[_2PPYN!7-d_9'oGgJ
Павел Былков says:Хост
9e177d20e25f.vps.myjino.ru

Порт
49273
Логин
root
Павел Былков says:ssh -p 49273
root@9e177d20e25f.vps.myjino.ru

Павел Былков says:
https://www.digitalocean.com/community/tutorials/how-to-set-up-django-with-postgres-nginx-and-gunicorn-on-ubuntu

Павел Былков says:
https://github.com/Pavel-Bylkov/PortfolioSite.git

Павел Былков says:git clone
https://github.com/Pavel-Bylkov/PortfolioSite.git

Павел Былков says:
9e177d20e25f.vps.myjino.ru

Павел Былков says:
9e177d20e25f.vps.myjino.ru:49287

password:
ynPKMhr8jB4SLQB

stopped at Step 9: Testing Socket Activation